



    <div class="sign-group" >
        <div class="sign-header">

            <h3 class="sign-heading">Đăng ký </h3>
        </div>

        <div class="sign-form" action="~/Introduce/DangKi">
            <div class="sign-form-group">
                <i class="ti-user"></i><input type="text" class="sign-form-input"
                                              placeholder="Tên Khách hàng" name="TenKH">
            </div>
            <div class="sign-form-group">
                <i class="ti-user"></i><input type="text" class="sign-form-input"
                                              placeholder="Nhập vào tên tài khoản" name="UserName">
            </div>
            <div class="sign-form-group">
                <i class="ti-lock"></i><input type="text" class="sign-form-input"
                                              placeholder="Nhập vào mật khẩu" name="Pass">
            </div>
            <div class="sign-form-group ">
                <input type="text" class="sign-form-input repeat" placeholder="Nhập lại mật khẩu">
            </div>
            @*<div class="sign-form-group">
            <i class="ti-user"></i><input type="text" class="sign-form-input"
                                          placeholder="Địa chỉ" name="DC">
        </div>*@
            @*<div class="sign-form-group">
            <i class="ti-user"></i><input type="number" class="sign-form-input"
                                          placeholder="Số điện thoại" name="SDT">
        </div>
        <div class="sign-form-group">
            <i class="ti-user"></i><input type="date" class="sign-form-input"
                                          placeholder="Ngày Sinh" name="NgaySinh">
        </div>
        <div class="sign-form-group">
            <i class="ti-user"></i><input type="checkbox" class="sign-form-input"
                                          placeholder="Giới tính" name="GioiTinh">
        </div>
        <div class="sign-form-group">
            <i class="ti-user"></i><input type="number" class="sign-form-input"
                                          placeholder="Căn Cước Công Dân" name="CCCD">
        </div>*@
            <input type="submit" class="btn btn-xn">Xác nhận </input>
        </div>
        <div class="sign-control">
            
            <div><button class="btn btn-dangnhap">Đăng nhập</button></div>


        </div>
    </div>