
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div id="main-content">
    <header>
        <nav class="main-content__header-nav">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-right"></i>
        </nav>
        <div class="main-content__search-form">
            <i class="fas fa-search search-btn"></i>
            <input type="text" class="search-input" placeholder="Search for artist, songs.....">
        </div>
    </header>

    <body>
        <div class="box-scroll">
            <h1 class="contain pt-5 header-content">Artist</h1>
            <div class="w3-content display-container">

                <div class="contain mySlides">
                    <div class="row ">
                        <div class="col">
                            <h4 class="contain nameArtist"> Charlie </h4>

                            <img src="/Giới thiệu/Artist/charlie-01.png" alt="">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Sơn Tùng </h4>

                            <img src="/Giới thiệu/Artist/download.jpg">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Taylor  </h4>

                            <img src="/Giới thiệu/Artist/taylor switf.png">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Tóc Tiên </h4>

                            <img src="/Giới thiệu/Artist/tóc-tiên.jpg">
                        </div>
                    </div>
                </div>
                <div class="contain mySlides">
                    <div class="row ">

                        <div class="col">
                            <h4 class="contain nameArtist">Sơn Tùng </h4>
                            <img src="/Giới thiệu/Artist/download.jpg">

                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Taylor  </h4>

                            <img src="/Giới thiệu/Artist/taylor switf.png">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Tóc Tiên </h4>

                            <img src="/Giới thiệu/Artist/tóc-tiên.jpg">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist"> Charlie </h4>

                            <img src="/Giới thiệu/Artist/charlie-01.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="contain mySlides">
                    <div class="row ">


                        <div class="col">
                            <h4 class="contain nameArtist">Taylor  </h4>

                            <img src="/Giới thiệu/Artist/taylor switf.png">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Tóc Tiên </h4>

                            <img src="/Giới thiệu/Artist/tóc-tiên.jpg">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist"> Charlie </h4>

                            <img src="/Giới thiệu/Artist/charlie-01.png" alt="">
                        </div>
                        <div class="col">
                            <h4 class="contain nameArtist">Sơn Tùng </h4>
                            <img src="/Giới thiệu/Artist/download.jpg">

                        </div>
                    </div>
                </div>




                <div class="contain display ">
                    <button class=" want-dislay display-left" onclick="plusDivs(-1)" style="height: 40px;">&#10094;</button>
                    <button class=" want-display display-right" onclick="plusDivs(1)" style="height: 40px;">&#10095;</button>
                </div>



            </div>



        </div>

        <div class="footers">
            <div class="play-song">
                <div class="play-control">
                    <div class="play-control__act">
                        <i class="far fa-heart" id='heart'></i>
                        <i class="fas fa-music"></i>
                        <i class="fas fa-expand-alt"></i>
                    </div>
                    <div class="play-control__main">
                        <i class="fas fa-redo-alt play-repeat"></i>
                        <i class="fas fa-fast-backward play-backward main-icon"></i>
                        <!-- <i class="fas fa-pause-circle pause-icon main-icon main-icon--big"></i> -->
                        <span class="play-inner">
                            <i class="fas fa-play-circle play-icon main-icon main-icon--big"></i>
                        </span>
                        <i class="fas fa-fast-forward play-forward main-icon"></i>
                        <i class="fas fa-random shuffle-song"></i>
                    </div>
                    <div class="play-control__volume">
                        <i class="fas fa-volume-mute"></i>
                        <input type="range" id="volume" class="volume" value="1" min="0" max="1" step="0.1">
                        <i class="fas fa-volume-up"></i>
                    </div>
                </div>
                <div class="play-seekbar">
                    <div class="timer__left">0:00</div>
                    <input type="range" name="range" id="range" class="range" />
                    <audio src="/mp3/assests_mp3_ntt.mp3" id="song"></audio>
                    <div class="timer__right">3.00</div>
                </div>
            </div>

        </div>

    </body>

</div>

     
<script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          x[slideIndex-1].style.display = "block";
        }
</script>

