#main-content img {
    cursor: pointer;
}

#navbar {
    width: 25%;
    /* background-color:rgb(67, 56, 78); */

}

#main-content {
    width: 100%;
    height: 100%;
    padding: 15px;
    /* background-color:rgb(212,196,227); */

   
}

#main {
    padding-top: 20px;
    height: 730px;
   
}

.box-scroll {
    width: 100%;
    height: 645px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;

}



.card {
    flex-direction: row;
    height: 150px;
    border-radius: 5px;
    padding: 5px;
    background: rgba(0,0,0,0);
    border: 0 rgba(0,0,0,0);
    
  

   

  }
 
.card img {
    width:25% ;
    border-radius: 5px;
  }
.fa-regular {
  
   padding-top: 50px;
  
   
}
.card .want-play{
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0; 
    color:#ffff;
    font-size: 40px;
    border-radius: 5px;
    background-color: rgba(212,196,227,0.2);
    display: none;
    cursor: pointer;
    text-align: center;
}
.card:hover .want-play {
    display: block;
}
  
.card:hover  {
    background-color:rgb(208, 174, 236);
    border: 1px solid #ccc;
    cursor: pointer;
  
}
.card-title:hover , .card-text:hover {
    text-decoration: underline;
}


.footers {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 260px;
   
   
   
 }
   
   