
.info > h1 {
    color:#662D91;
    /* float: right; */
    text-align: right;
    margin-right: 80px;
    font-size:60px ;
    font-weight: 400;
  }
.Footer h1{
  color:rgb(190, 157, 203,);
  margin-bottom: 32px;
}

.Footer {
  display: flex;
  justify-content: space-around;
}




.Footer {
  padding-top: 50px;
 
  background-image: linear-gradient(180deg,rgba(49, 42, 110,0.8), rgb(27, 20, 100));
}
.info{
  background-image: linear-gradient(#FFFFFF,#BEBEDA);
}
.Footer h1{
  color: rgba(186, 155, 201,1);
  font-size: 2rem;
  font-weight: 30%;
}
.footer-item{
  /* margin: 0 7% 0 7%; */
  /* padding-bottom: 100px; */
  text-align: justify;
}
.footer-link .address{
  
  margin-right: 30%
  
}
.Footer i {
  margin-right: 3%;
  /* margin-left: 4%; */
}

.Footer a{
  color: white;
  margin-top: 12px;
  text-decoration: none;
  margin-bottom: 12px;
  /* margin-right: 15%; */
}

.footer-link {
  display: flex;
  flex-direction: column;
}
.footer-item {
  display: flex ;
  flex-direction: column;
}
.Footer{
  font-family: 'Times New Roman', Times, serif;
}
.info{
  font-family: 'Times New Roman', Times, serif;
}


.info .slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.info .slideshow-container img {
  border-radius: 48px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.info .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.info .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.info .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.info .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
