<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/template/css/styleMain.css">
    <link rel="stylesheet" href="/template/css/responsiveMain.css">
    <link rel="stylesheet" href="/intro/imgMain/">
    <link rel="stylesheet" href="/template/css/favoriteSong.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>CNTT2 MUSIC</title>
</head>

<body>
    <div id="main">
        <div id="container">
            <!--
            =======================NAVBAR==========================
        -->
            <div id="navbar">
                <div class="navbar-container">
                    <header>
                        <span class="check">
                            <span class="ball"></span>
                        </span>
                        <i class="fas fa-stream js-hide-navbar"></i>
                    </header>
                    <div class="logo">
                        <i class="navbar__logo fab fa-forumbee"></i>
                        <span class="navbar__primary-text">CNTT2</span><span>Music</span>
                    </div>
                    <div class="navbar-content">
                        <nav>
                            <li class="navbar-content__icon">
                                <a href="main.html"><i class="fas fa-home"></i>Home</a>
                            </li>
                            <li class="navbar-content__icon">
                                <a href="Trend.html"><i class="fas fa-chart-line"></i>Trend</a>
                            </li>
                            <li class="navbar-content__icon">
                                <a href="Feed.html"><i class="fas fa-compass"></i>Feed</a>
                            </li>
                        </nav>

                        <nav>
                            <p class=" navbar-content__title">Discover</p>
                            <ul>
                                <li class="navbar-content__icon">
                                    <a href="Notable.html"><i class="far fa-newspaper"></i>New and Notable</a>
                                </li>
                                <li class="navbar-content__icon">
                                    <a href="Calendar.html"><i class="fas fa-calendar-alt"></i>Realese Calendar</a>
                                </li>
                                <li class="navbar-content__icon">
                                    <a href="Event.html"><i class="fas fa-ticket-alt"></i>Events</a>
                                </li>
                            </ul>
                        </nav>

                        <nav>
                            <p class=" navbar-content__title">Your Collection</p>
                            <ul>
                                <li class="navbar-content__icon">
                                    <a href="favoriteSong.html"><i class="fas fa-heart"></i>Favorite Songs</a>
                                </li>
                                <li class="navbar-content__icon">
                                    <a href="Artist.html"><i class="fas fa-users"></i>Artist</a>
                                </li>
                                <li class="navbar-content__icon">
                                    <a href="Albums.html"><i class="fas fa-star"></i>Albums</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="navbar-user">
                    <div class="navbar-user__container">
                        <div class="user-avt">
                            <img src="../../intro/imgMain/snow.png" alt="">
                        </div>
                        <div class="user-name">Linh Chi</div>
                        <a href=""><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <!--
            ====================MAIN_CONTENT=====================
        -->
            <div id="main-content">
                <header>
                    <nav class="main-content__header-nav">
                        <i class="fas fa-arrow-left"></i>
                        <i class="fas fa-arrow-right"></i>
                    </nav>
                    <div class="main-content__search-form">
                        <i class="fas fa-search search-btn"></i>
                        <input type="text" class="search-input" placeholder="Search for artist, songs.....">
                    </div>
                </header>

                <body>
                    <div class="box-scroll">
                        <h1 class="contain pt-5 header-content">Favorite Song </h1>
                        <div class="song-container">
                            <div class="row-song">
                                <span class="want-play">
                                    <i class="fa-regular fa-circle-play "></i>
                                </span>
                                <div class="song-contents">

                                    <i class="fa-sharp fa-solid fa-music"></i>
                                    <img src="../slider2.jpg" />
                                    <div class="song-content-title">
                                        <h3>Cá Tháng Tư ,Thật Thật Đùa Đùa</h3>
                                        <p>Phan Mạnh Quỳnh</p>
                                    </div>
                                </div>
                                <p class="song-subscrise">Cá Tháng Tư ,Thật Thật Đùa Đùa (Single)</p>
                                <div class="favourite-song">
                                    <i class="fa-sharp fa-solid fa-heart"></i>
                                    <p>03.30s</p>
                                </div>
                            </div>
                            <div class="song-container">
                                <div class="row-song">
                                    <span class="want-play">
                                        <i class="fa-regular fa-circle-play "></i>
                                    </span>
                                    <div class="song-contents">
                                        <i class="fa-sharp fa-solid fa-music"></i>
                                        <img src="../slider2.jpg" />
                                        <div class="song-content-title">
                                            <h3>Nhạt</h3>
                                            <p>Phan Mạnh Quỳnh</p>
                                        </div>
                                    </div>
                                    <p class="song-subscrise">Nhạt (Single)</p>
                                    <div class="favourite-song">
                                        <i class="fa-sharp fa-solid fa-heart"></i>
                                        <p>05.31s</p>
                                    </div>
                                </div>
                                <div class="song-container">
                                    <div class="row-song">
                                        <span class="want-play">
                                            <i class="fa-regular fa-circle-play "></i>
                                        </span>
                                        <div class="song-contents">
                                            <i class="fa-sharp fa-solid fa-music"></i>
                                            <img src="../slider2.jpg" />
                                            <div class="song-content-title">
                                                <h3>Em Không Sai Chúng Ta Sai</h3>
                                                <p>ERIK</p>
                                            </div>
                                        </div>
                                        <p class="song-subscrise">Em Không Sai Chúng Ta Sai (Single)</p>
                                        <div class="favourite-song">
                                            <i class="fa-sharp fa-solid fa-heart"></i>
                                            <p>04.52s</p>
                                        </div>
                                    </div>
                                    <div class="song-container">

                                        <div class="row-song">
                                            <span class="want-play">
                                                <i class="fa-regular fa-circle-play "></i>
                                            </span>

                                            <div class="song-contents">
                                                <i class="fa-sharp fa-solid fa-music"></i>
                                                <img src="../slider2.jpg" />
                                                <div class="song-content-title">
                                                    <h3>Không Thể Cùng Nhau Suốt Kiếp</h3>
                                                    <p>Hòa Minzy,Đức Phúc,ERIK</p>
                                                </div>
                                            </div>
                                            <p class="song-subscrise">Không Thể Cùng Nhau Suốt Kiếp (Single)</p>
                                            <div class="favourite-song">
                                                <i class="fa-sharp fa-solid fa-heart"></i>
                                                <p>05.12s</p>
                                            </div>
                                        </div>
                                        <div class="song-container">
                                            <div class="row-song">
                                                <span class="want-play">
                                                    <i class="fa-regular fa-circle-play "></i>
                                                </span>
                                                <div class="song-contents">
                                                    <i class="fa-sharp fa-solid fa-music"></i>
                                                    <img src="../slider2.jpg" />
                                                    <div class="song-content-title">
                                                        <h3>Tặng Anh Cho Cô Ấy</h3>
                                                        <p>Hương Giang</p>
                                                    </div>
                                                </div>
                                                <p class="song-subscrise">Tặng Anh Cho Cô Ấy (Single)</p>
                                                <div class="favourite-song">
                                                    <i class="fa-sharp fa-solid fa-heart"></i>
                                                    <p>04.08s</p>
                                                </div>
                                            </div>








                                        </div>
                                        <div class="footers">
                                            <div class="play-song">
                                                <div class="play-control">
                                                    <div class="play-control__act">
                                                        <i class="far fa-heart" id='heart'></i>
                                                        <i class="fas fa-music"></i>
                                                        <i class="fas fa-expand-alt"></i>
                                                    </div>
                                                    <div class="play-control__main">
                                                        <i class="fas fa-redo-alt play-repeat"></i>
                                                        <i class="fas fa-fast-backward play-backward main-icon"></i>
                                                        <!-- <i class="fas fa-pause-circle pause-icon main-icon main-icon--big"></i> -->
                                                        <span class="play-inner">
                                                            <i
                                                                class="fas fa-play-circle play-icon main-icon main-icon--big"></i>
                                                        </span>
                                                        <i class="fas fa-fast-forward play-forward main-icon"></i>
                                                        <i class="fas fa-random shuffle-song"></i>
                                                    </div>
                                                    <div class="play-control__volume">
                                                        <i class="fas fa-volume-mute"></i>
                                                        <input type="range" id="volume" class="volume" value="1" min="0"
                                                            max="1" step="0.1">
                                                        <i class="fas fa-volume-up"></i>
                                                    </div>
                                                </div>
                                                <div class="play-seekbar">
                                                    <div class="timer__left">0:00</div>
                                                    <input type="range" name="range" id="range" class="range" />
                                                    <audio src="/mp3/assests_mp3_ntt.mp3" id="song"></audio>
                                                    <div class="timer__right">3.00</div>
                                                </div>
                                            </div>

                                        </div>


                </body>

            </div>

        </div>
    </div>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/template/javaScript/main.js"></script>
</body>

</html>