*{

}
:root {
    --white-color : #fff;
    --black-color: #000;
}
.main {
    background-color: #fff;
}

.header {

}


.slider {

}


.album {

}


.artist {

}


.news{

}


.info {

}


.footer {

}