*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family:Arial, Helvetica, sans-serif;
}
:root {
    --white-color : #fff;
    --black-color: #000;
    --header-text-color:rgb(199, 91, 181);
}
.main {
    background-color: #fff;
}


.header {

    height: 46px;
    background-color:rgb(53, 2, 48) ;
}
.name-web{
    display: inline-block;
    color: var(--header-text-color);
    line-height: 46px;
    padding: 0 24px;
}
#nav {
    float: right;
}
#nav li {
    
    display: inline-block;
}
#nav li a {
    color:var(--header-text-color);
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;

}
#nav li a:hover {
    color: #000;
    background-color: rgb(226, 43, 211);
}

.slider {

}


.album {

}


.artist {

}


.news{

}


.info {

}


.footer {

}