body {
    font-family: 'Poppins';
}

#main-content {
    height: 680px;
    overflow-y: auto;
}

#main-content__Notable header,
#main-content__feed header,
#main-content header {
    margin-bottom: 20px;
}

#main-content h2,
p {
    padding: 0;
    margin: 0;
}

#main-content .card {
    cursor: pointer;
    height: 150px;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

#main-content .card:hover {
    -webkit-transform: scale(0.9);
    /*Webkit: Thu nhỏ kích thước ảnh còn 0.8 so với ảnh gốc*/
    -moz-transform: scale(0.9);
    /*Thu nhỏ đối với Mozilla*/
    -o-transform: scale(0.9);
    /*Thu nhỏ đối với Opera*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: Thời gian phóng to, nhỏ ảnh*/
    -moz-transition-duration: 0.5s;
    /*Như trên*/
    -o-transition-duration: 0.5s;
    /*Như trên*/
    opacity: 0.7;
    /*Độ mờ của hình ảnh*/
    margin: 0 10px 5px 0;
    /*căn đều giữa ảnh*/
}

.trend-title {
    color: aliceblue;
}

.trend-des {
    margin-top: 10px;
    color: antiquewhite;
}

.card-body {
    padding-top: 30px;
    text-shadow: 0.1em 0.1em 0.2em rgba(1, 24, 26, 0.712);

}

#main-content__feed {
    width: 100%;
    padding: 1rem 2rem;
    flex: 1;
    border-radius: 2rem;
    padding-bottom: 2rem;
    height: 680px;
    overflow-y: auto;
}

#main-content__feed .card {
    border-radius: 10px;
    cursor: pointer;
    height: 200px;
}

#main-content__feed .card:hover {
    background-color: rgba(138, 145, 241, 0.116);
}

#main-content__feed .card-body {
    padding: 10px 10px;
    display: flex;
}

.card-body__img {
    width: 50%;
    height: 80%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.card-body p {
    width: 50%;
    padding-left: 10px;
}

#sidebar {
    padding-left: 10px;
}

/* ------------------------------------------------------------------------------- */
/* Notable */
#main-content__Notable {
    width: 80%;
    height: 680px;
    overflow-y: auto;
}

#main-content__Notable .main-content__header-nav {
    padding-left: 20px;
}

.Notable-slider {
    height: 210px;
}

#main-content__Notable .container {
    padding: 0;
    width: 100%;
    height: 45px;
}

#main-content__Notable h2 {
    text-align: left;
    padding: 10px 25px;
    margin: 0;
    font-weight: 600;
    font-size: 1.8rem;
    color: #000;
}

/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    cursor: pointer;
}

.slick-slide img:hover {
    transform: scale(1.2);
    opacity: 0.65;
    box-shadow: 10px 0px 10px 10px #fefdff;

}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 150px;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* ************************Want to Listen******************************* */