#main-content img {
    cursor: pointer;
}

#navbar {
    width: 25%;
}

#main-content {
    width: 100%;
    height: 100%;
    margin-top: 15px;

}

#main {
    padding-top: 20px;
    height: 730px;
}

.box-scroll {
    width: 100%;
    height: 645px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;

}


.song-container {
    display: flex;
    flex-direction: column;
   
    
}
.song-container h3 {
    font-weight: normal;
    color:black;
}
.song-container p {
    color: #535F73;
}
.song-container .song-subscrise{
    color: #535F73;
}
.song-container .favourite-song i{
    color: #47026e;
}

.row-song {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.row-song {
    margin-bottom: 16px;
    padding: 4px 4px 8px 16px;
}
.want-play{
    width: 75%;
    /* height: 100%; */
    position:absolute;
    color: #ffff;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(91, 30, 148, 0.2);
    display: none;
    cursor: pointer;
    /* text-align: center; */
    padding: 20px 40px;
   
}
.row-song:hover .want-play {
    display: block;
}
.row-song::before .want-play {
    display: block;
}

.song-contents {
    display: flex;
    width: 40%;
}

.song-contents img{
    width: 50px;
    margin-right: 12px;
    border-radius: 10px;
}

.song-subscrise {
   /* text-align: center; */
    line-height: 50px;
    width: 40%;
}

.favourite-song {
    display: flex;
    align-items: center;
}

.favourite-song i{
    display: inline-block;
    margin-top: 0;
}

.fa-sharp {
    margin-top:20px;
    line-height: 50px;
    margin-right: 12px;
    color: rgb(158, 31, 197);
    font-size: 20px ;
}
.footers {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 260px;
   
   
   
 }