* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --header-text-color: rgb(162, 134, 177);
    --singer1-color:rgba(57, 6, 64,0.7);
    --singer2-color:rgb(102, 85, 103);
    --back-color:rgb(42, 36, 51);
    --font-color:rgb(186, 155, 201);
    
}

.main {
    background-color: #fff;
}


.header {

    height: 46px;
    background-color: rgb(11, 1, 22);
}

.slider {}


.album {}


.artist {}


.news {}


.info {}


.footer {}
